.siviWell{
	
	margin-top: 200px; 
	height: 220px;
	background-color: #696969;
	color:white;
	border-radius:20px;
}

.siviWell1{
	
	background-color: #696969;
	color:white;
	border-radius:20px;
}

.zutoDugme{
	
	background-color: #FFD700;
}

.wellGore{
	
  top:0;
  
}
